body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.button, button {
	font-weight: 600;
	text-transform: uppercase;
}

.alert-box.alert h1,
.alert-box.alert h2,
.alert-box.alert h3,
.alert-box.alert h4,
.alert-box.alert h5,
.alert-box.alert h6,
.callout a {
	color: white !important;
}

.filme {
	text-align: center;
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #F9F9F9;
	cursor: pointer;
}

.filme .titulo {
	margin-bottom: 10px;
}

.filme img {
	border: 1px solid #999;
	border-radius: 5px;
}

.filme.selecionado {
	border-color: #999;
	box-shadow: 0 0 5px #666;
}

.filme.selecionado .titulo {
	font-weight: 600;
}

.qtip-red {
	color: white;
	background-color: #D95252;
}

table.expand {
	width: 100%;
}